NEXT_PUBLIC_BACKEND_URL=http://localhost:4000
NEXT_PUBLIC_FACTORY_ADDRESS=0x280FCfED021B98F90Cae5cFe5544568999dd8109
NEXT_PUBLIC_AMOY_RPC_URL=http://localhost:4000/rpc
NEXT_PUBLIC_TACO_CONDITION_RPC_URL=http://localhost:4000/rpc
NEXT_PUBLIC_TACO_DKG_RPC_URL=https://polygon-amoy.drpc.org
NEXT_PUBLIC_TACO_CONDITION_CHAIN_ID=80002
NEXT_PUBLIC_TACO_RITUAL_ID=6
NEXT_PUBLIC_USDC_ADDRESS=0x41E94Eb019C0762f9Bfcf9Fb1E58725BfB0e7582
NEXT_PUBLIC_USDC_DECIMALS=6
NEXT_PUBLIC_CHAIN_ID=80002
