NEXT_PUBLIC_BACKEND_URL=http://localhost:4000
NEXT_PUBLIC_SITE_URL=https://wstlx.com
NEXT_PUBLIC_FACTORY_ADDRESS=0x280FCfED021B98F90Cae5cFe5544568999dd8109
NEXT_PUBLIC_AMOY_RPC_URL=http://localhost:4000/rpc
NEXT_PUBLIC_LIT_NETWORK=datil-dev
NEXT_PUBLIC_LIT_EVM_CHAIN=amoy
NEXT_PUBLIC_LIT_SESSION_CHAIN=ethereum
NEXT_PUBLIC_LIT_CHECK_NODE_ATTESTATION=false
NEXT_PUBLIC_LIT_DEBUG=false
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_USDC_ADDRESS=0x41E94Eb019C0762f9Bfcf9Fb1E58725BfB0e7582
NEXT_PUBLIC_USDC_DECIMALS=6
NEXT_PUBLIC_CHAIN_ID=80002
